.aot-bar {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway";
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        display: flex;
        margin: 8px;
        >a {
            &:hover{
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;  
    margin: 8px;
    font-size: 24px;
}

.phone-number {
    display: flex;
    margin: 0px 8px;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #9F0908;
    transition: color 0.3s ease, background-color 0.3s ease; 
    &:hover {
        background-color: red;      
    }
}


.phone-png-position {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 8px;
}

.phone-png {
    width: 32px;
    height: 32px
}

@media only screen and (max-width: 770px) {
    .aot-bar {
        >img {
            width: 32px;
            height: 32px;
        } 
    }
    a {
        display: none;
    }
    .phone-number {
        display: none;
    }
}
