section {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway";
    h1 {
        font-size: 64px;
        font-weight: 600;
        color: #9F0908;
    }
    img {
        width: 26px;
    }
    p {
        font-size: 32px;
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
    section {
        h1 {
            font-size: 32px;
        } 
        p {
            font-size: 16px;
        }
        img {
            width: 13px;
        }
    }
}