<section>
    <div>
    <h1>IMPRESUM</h1>
    <span>Angaben gemäß § 5 TMG
        Davor Jezernik
        Schönaugürtel
        8010 Graz
        Austria</span>
    <span>Kontakt:
        Telefon: +436641234567
        E-Mail: mustermail&#64;gmail.com</span>
    <span>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
        Davor Jezernik
        Schönaugürtel
        8010 Graz</span>
    <span>Haftungsausschluss Haftung für Inhalte Die Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehme ich jedoch keine Gewähr.
        Haftung für Links Diese Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen.
        Urheberrecht Die durch mich erstellten Inhalte und Werke auf dieser Webseite unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen meiner schriftlichen Zustimmung.</span>
    <a href="main">BACK</a>
    </div>
</section>

