<section>
    <div>
        <h2>OUR MENU</h2>
        <div>
            <div class="menu-setup">
                    <img src="assets/img/3. Our Menu Sektion/Png/2. R1-CP.png">
            <div class="menu-text">
                <h3>Tankotsu Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="menu-setup">
                    <img src="assets/img/3. Our Menu Sektion/Png/3. R2-CP.png">
            <div class="menu-text">
                <h3>Spicy Miso Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="menu-setup">
                    <img src="assets/img/3. Our Menu Sektion/Png/4. R3-CP.png">
            <div class="menu-text">
                <h3>Shio Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
